<form method="POST" action="/signin">
  <label>User Name</label>
  <input type="text" name="name" placeholder="Enter your name">
  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Pasword">
  <button type="submit">Log In</button>
</form>

